html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    padding: 10;
    min-height: 100vh;
  }
  /* Hieronder mag je eigen CSS code */
body {  
  display: grid;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #EEEEEE;
  grid-template-rows: 20vh 40vh 40vh;
  grid-template-columns: 50vw 50vw;
  }

#classIndex{
  display: block;
}

form{
  align-items: center;
  /* margin:100px; */
  /* line-height: 20px; */
}
.hidden {
  display: none;
}
#title {
    background-color: #a3a1a179;
      grid-row: 1/2;
      grid-column: 1/3;
  }
  #graph{
    background-color:yellowgreen;
    grid-row:2/4;
    grid-column:1/2;
  }
  #description {
    background-color: #6088a879;
      grid-row: 2/3;
      grid-column: 2/3;
  }
  #text {
    background-color: #ffae0079;
      grid-row: 3/4;
      grid-column: 2/3;
  }
 #sliderBox{
   /* margin-top:10px; */
    position:relative;
    border: 3px solid black;
    margin: 50px auto auto auto;
    width:56px;
    height:600px;
   }
#slider{
  position: absolute;
  background-color: tomato;
  bottom: 0;
  left:0;
  width: 50px;
  height: 1px;
  } 

